<!DOCTYPE html>
<html lang="fa">

<head>
    <title> @ViewData["Title"] </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="~/css/style.css">

</head>
<body id="top" dir="rtl">


     
            @RenderBody()
      

   
  
    <!-- External JS libraries -->

    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/app.js"></script>
    <!-- Custom JS Script -->

</body>

</html>
