 
@section cartCss{
    <link href="~/css/customcss/cart.css" rel="stylesheet"/>
}

<div class="cart-container">
    <h1>سبد خرید</h1>
    <div class="CartData"> 

    </div>
    <div class="cart-summary">
    

        <div  class="summary-details">
        <p>مبلغ نهایی: <span class="total-price"><span id="totalPrice">0</span> تومان</span></p>
        </div>
      
        <button class="checkout-btn">خرید</button>
    </div>
</div>



@section Scripts{
    <script src="~/js/cart.js"></script>
    <script>
        $(document).ready(function () {
           

            fetchCartData();
        });

    </script>
}

