@{
    ViewData["Title"] = "صفحه اصلی";
}
 
    


 

<div class="container">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-between">
            <h6 class="title pb-2">جدیدترین دوره های آموزشی</h6>
        </div>
    </div>
</div>





<!----- Start course boxes ----->
<div class="container my-3">
    <div class="row">

        @await Component.InvokeAsync(typeof(BehtashShirzad.ViewComponents.ProductViewComponent))


    </div>
</div>
<!----- End course boxes ----->


<div class="container">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-between">
            <h6 class="title pb-2">تازه ترین مقالات آموزشی</h6>
        </div>
    </div>
</div>

<!----- Start article boxes ----->
<div class="container">
    <div class="row mt-3 mb-5">

      
    

        <div class="col-md-6 col-lg-4">
            <div class="card custom-card  mb-3 shadow-sm">

                <img src="~/img/article-3.jpg" alt="" class="img-fluid card-img-top">

                <div class="card-body">
                    <div class="text-center mb-2 mt-2 font-14">
                        <a href="article.html" class="card-link">3 نکته ای که احتمالا درباره تفکر طراحی نمیدانید</a>
                    </div>
                    <p class="card-text font-13 vazir">
                        لورم ایپسوم متن ساختگی با
                        تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>
                    <span class="bg-light p-2 text-muted font-12">
                        <i class="fa fa-pen ml-1"></i> ادمین
                        <i class=" fa fa-eye mx-1"></i>140
                    </span>
                    <a href="article.html" class="btn float-left read-more">بیشتر بخوانید</a>
                </div>

            </div>
        </div>

    </div>
</div>
<!----- End article boxes ----->

