@{
    ViewData["Title"] = "محصولات";
}


<!----- Start course boxes ----->
<div class="container my-3">
    <div class="row">

        @await Component.InvokeAsync(typeof(BehtashShirzad.ViewComponents.Products.ProductViewComponent))


    </div>
</div>
 
